<h2> About us </h2>

<p style="font-size: 14px;">
Lagyi.com is an online wholesale fashion shop
for men's clothings operated by
company name H&Ttechnology 
registered in Myanmar with registration number
<a href="https://www.myco.dica.gov.mm/Corp/EntityProfile.aspx?id=f4778578-cbd3-4b1e-a007-fddd139f03b4">118351312</a>
and our head office located at No.1200 
Bogyote Street, North dagon , 11421, Yangon, Myanmar</p>

<br>
<h2> What we offer </h2>

<p style="font-size: 14px;">
Lagyi offers experiential wholesale environments and
a mix of the latest and top wholesale men's clothing 
from different vendors.</p>
<br>


<h2> How we work </h2>

<p style="font-size: 14px;">
At Lagyi, we work hard everyday to 
provide you a premium shopping 
experience with affordable price.
</p>