<h2> About us </h2>

<p style="font-size: 14px;">

Lagyi.com is an online wholesale fashion marketplace 
for men's clothings and we are
a company registered in Yangon with our registered office at No.1200 
Sunset Lake Rd Suite b-2, Newark, DE 19701, USA,

<br><br>

Lagyi offers experiential wholesale environments and
a mix of the latest and top wholesale men's clothing 
from different vendors.
<br><br>


<h2>THE FUTURE OF WHOLESALE FASHION</h2><br>
In a hugely competitive and fast-moving industry, 
Lagyi is revolutionising wholesale fashion industry.
<br><br>


At Lagyi, we work hard everyday to provide you a premium shopping experience.
</p>