<h2>Privacy policy</h2>

<p style="font-size: 14px;">
Lagyi understands your concerns regarding how information about you is used and shared. We use your information carefully and appreciate your trust. You will find our privacy policy below: By visiting Lagyi, you accept the practices in our privacy policy. </p>

<br>
<h2>WHAT INFORMATION DO WE COLLECT, AND HOW?</h2>
<p style="font-size: 14px;">
We receive and collect any and all information that a customer enters on our website or provides us in any other way. We use this information to enhance your experience on our website, customize your shopping experience and respond to your requests. Information we collect from other sources about you may be added to your account and is only used to personalize and enhance your experience.</p>

<br>
<h2>Account registration</h2>
<p style="font-size: 14px;">
If you register an account on the website, then you may choose to give us your photograph and nickname. From your account, you can also invite your friends to shop at our website (including by email, Facebook, or Twitter). Even though we let them know that we’ve received their details from you, please ensure that you have your friend’s permission before sharing their contact details with us and only forward emails to people you know would be happy to receive them.</p>


<br>
<h2>Cookie Policy</h2>
<p style="font-size: 14px;">
In internet terms, a "cookie" is a small text files can help improve your experience with the Website and make it easier to interact with us. This may include storing your location or language preferences to save you having to re-enter information when returning to, or ensuring that items you wish to order don’t disappear as you navigate between pages on our website. We also use cookies to provide you with tailored advertising.</p>