<h2> Returns & Cancellation policy </h2>


<p style="font-size: 14px;">The customer must follow the online return policy as stated below.</p>
<br>
<h2> Returns & Refunds</h2> 

<p style="font-size: 14px;">
We do not accept any returns/refunds for 
online purchases in lagyi.com. 
</p>

<br>
<h2> Cancelling an order </h2> 

<p style="font-size: 14px;">
you can also choose to cancel your order within 3 days of the purchase date, we will refund you the full price.</p>

<p style="font-size: 14px;">
After 3 days but no later than 7 days after your purchase date, 
refunds will be issued as a 
store credit at the current selling price.
</p>



