<h2>Understanding our Terms and Conditions</h2>

<p style="font-size: 14px;">
Welcome to the Lagyi Website.
We strongly urge you to read these Terms and Conditions carefully and make sure that you understand them before using the Services. 
When we refer to "Lagyi", "we", "us" or "our", we mean Lagyi.com or, 
where relevant, its affiliates. Where we refer to "you" or "your" we mean you, the person using the Services.

By using the Services, you agree to be bound by these Terms and Conditions. If you do not accept these Terms and Conditions, you will not be able to use the Services and you should leave the Website immediately. If you use the Website or if you order products, we will understand this as your acceptance of these Terms and Conditions.</p>

<br>
<h2>About Services</h2>
<p style="font-size: 14px;">
Lagyi is simple. We make everything easy for customers. 
You log-in at Lagyi.com, choose the products of interest, and check out. When the order process is completed, we dropshipping it to you. It's easy! You only deal with us when you have damaged items, questions about specific items, or have any other favors to ask.</p>

<br>
<h2>Product Descriptions</h2>
<p style="font-size: 14px;">
Lagyi works hard to be as accurate as possible 
with the products sell on our website. 
However, Lagyi cannot guarantee 100% 
the product descriptions or other contents 
related to the products. 
It is possible that there may be some errors
Furthermore, the images of products displayed on our Website are shown for illustrative purposes. The colors may vary depending on your computer’s display.</p>

<br>
<h2>Shipments & taxes</h2>
<p style="font-size: 14px;">
Depending on your delivery address, different taxation rules and additional charges may apply. We will notify you during the checkout process if import duties are included or you may have to pay them upon receipt of the products. If they are not included, neither we don't have any control over these charges and we cannot advise on their amount. You will be responsible for payment of any such import duties and taxes that are not included. 
</p>


